<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.wanforme.munkblog.base.mapper.AuthTokenMapper">

	<select id="selecToken" resultType="cc.wanforme.munkblog.base.entity.AuthToken">
		select * from auth_token where token = #{token}
	</select>

	<select id="selectUserToken" resultType="cc.wanforme.munkblog.base.entity.AuthToken">
		select * from auth_token where user_id = #{userId}
	</select>

</mapper>
