<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.wanforme.munkblog.base.mapper.DailyLogMapper">

	<sql id="ID_DESC">
		order by id desc
	</sql>
	
	<select id="selectDailyLog" parameterType="cc.wanforme.munkblog.vo.dailyLog.DailyLogSearchVo"
	  resultType="cc.wanforme.munkblog.base.entity.DailyLog">
	  select * from daily_log
	  <where>
	  	valid=#{valid}
	  	<if test='content!=null'> and content like concat('%', #{content}, '%') </if>
	  </where>
	  <include refid="ID_DESC" />
	</select>

</mapper>
