<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.wanforme.munkblog.base.mapper.ImageFileMapper">

	<sql id="ID_ASC">
		order by id asc
	</sql>
	<sql id="ID_DESC">
		order by id desc
	</sql>

	<sql id="SELECT_IMAGEVO">
	    a.id as imageFileId, a.object_id as objectId, a.type as imageFileType, a.valid as imageFileValid, 
  	    b.name as name, b.file_name as realName, b.type as efileType, b.valid as efileValid, b.create_time as efileCreateTime, b.update_time as efileUpdateTime
	</sql>

	<select id="selectBooks" 
		resultType="cc.wanforme.munkblog.base.entity.ImageFile">
		select * from image_file 
		  <where>
		  	<if test="valid != null"> valid = #{valid} and </if>
		  	object_id=#{objectId}
		  </where> 
		  <include refid="ID_ASC" />
	</select>
	
	<select id="selectAllByObjectId" 
		resultType="cc.wanforme.munkblog.base.entity.ImageFile">
		select * from image_file 
		  where valid = #{valid} 
		  	and object_id=#{objectId}
		  	<include refid="ID_DESC" />
	</select>
	
	<select id="selectByTypeWithObjectId" 
		resultType="cc.wanforme.munkblog.base.entity.ImageFile">
		select * from image_file 
		  where valid = #{valid} 
		  	and type=#{type}
		  	and object_id=#{objectId}
		  	<include refid="ID_DESC" />
	</select>
	
	<select id="selectObjectImageVos" resultType="cc.wanforme.munkblog.vo.efile.ImageVo">
	  select <include refid="SELECT_IMAGEVO" />
	  from  ( select * from image_file where type=#{type} and object_id=#{objectId} ) a, efile b 
	  where a.file_id = b.id 
	</select>
	
	<select id="selectImageVoByObjectAndName" resultType="cc.wanforme.munkblog.vo.efile.ImageVo">
	  select <include refid="SELECT_IMAGEVO" />
	  from  ( select * from image_file where type=#{type} and object_id=#{objectId} ) a, efile b 
	  where a.file_id = b.id  and b.name=#{name}
	</select>
	
	
</mapper>
