<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.wanforme.munkblog.base.mapper.MunkTagMapper">

	<sql id="ID_DESC">
		order by id desc
	</sql>
	
	<sql id="ID_ASC">
		order by id asc
	</sql>

	<select id="selectTags" resultType="cc.wanforme.munkblog.base.entity.MunkTag">
		select * from munk_tag where valid=#{valid} and type=#{type} and object_id=#{objectId} 
		<include refid="ID_ASC" />
	</select>

	<update id="updateTagNameAndValidStatus" 
		parameterType="cc.wanforme.munkblog.base.entity.MunkTag">
		update munk_tag set tag_name=#{tagName}, valid=#{valid} where id=#{id}
	</update>


</mapper>
