<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.wanforme.coorush.base.mapper.UserMapper">
	
	<!--  获取用户, 通过id -->
	<select id="getUser" parameterType="long" resultType="user">
		select * from user where id=#{value}
	</select>
	
	<!--  获取用户, 通过用户名 -->
	<select id="getUserByUserName" parameterType="java.lang.String" resultType="cc.wanforme.coorush.base.po.User">
		select * from user where name=#{name}
	</select>
	
	<!-- 添加用户 -->
	<insert id="addUser" parameterType="cc.wanforme.coorush.base.po.User" >
		insert into user(name, password, reg_time, type)
			values(#{name}, #{password}, #{regTime}, #{type})
	</insert>
	
	<!--  更新用户, 注册时间不能更改 -->
	<update id="updateUser" parameterType="cc.wanforme.coorush.base.po.User">
		update user	set name=#{name}, password=#{password}, reg_time=#{regTime},
			type=#{type} where id=#{id}
	</update>
	
</mapper>